<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <select name="" id="sel" v-model="selected" >

            <!-- 值绑定 -->
            <option v-for="item in selects" :value="item" >{{item}}</option>
           
        </select>
        <h2>{{selected}}</h2>
    </div>
    <script src="../vue.js"></script>
    <script>
        const app = new Vue({
            el:"#app",
            data:{
                selects:["1","2","3"],
                selected:[],
            }
        })
    </script>
</body>
</html>