<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style type="text/css">
        @import url(style.css);
    </style>
</head>

<body>
    <div id="app">

        <!-- if 语法 -->
        <div v-if="titles.length">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>书籍名称</th>
                        <th>出版日期</th>
                        <th>价格</th>
                        <th>购买数量</th>
                        <th>操作</th>

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item , index) in titles">

                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>{{getFixedPrice(item.price)}}</td>

                        <td>
                            <button @click="dercrement(index)" v-bind:disabled="item.count <= 1">-</button>
                            {{item.count}}
                            <button @click="increment(index)">+</button>

                        </td>

                        <td>
                            <button @click="remove(index)">移除</button>
                        </td>

                    </tr>
                </tbody>

            </table>
            <p>总价格是:{{getFixedPrice(totalPrice)}}</p>
        </div>

        <p v-else>为空</p>

    </div>
    <script type="text/javascript"> </script>
    <script src="vue.js"></script>
    <script src="main.js"></script>

</body>

</html>